# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ticket_sales

# MercadoPago
# Obtenha em: https://www.mercadopago.com.br/developers/panel/app
MERCADOPAGO_ACCESS_TOKEN=seu_access_token_aqui
MERCADOPAGO_NOTIFICATION_URL=https://sua-url-publica.ngrok.io/api/webhook/mercadopago
