# Variáveis de ambiente locais (nunca commitar)
.env

# Maven
app/target/
app/.mvn/wrapper/maven-wrapper.jar
!app/.mvn/wrapper/maven-wrapper.properties

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log

# Relatórios K6 gerados localmente
k6/reports/*.html
k6/reports/*.json
